*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8e9e7;
}

#container-cover{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(217, 197, 255);
}

.cardbox{
    width: 300px;
    height: auto;
    border: 1px solid tomato;
}